*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    /* background-color: aqua; */
    height: 400px;
    color: greenyellow;
    background-image: url('Image/Portfolio\ Banner\ .jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(1);
}

.Project{
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
}

.project-item{
    float: left;
    height: 200px;
    border: 1px solid black;
    width: 32.6%;
    margin-right: 8px;
    margin-bottom: 10px;
    margin-left: 2px;
    background-color: #2D0C4D;
    color: white;
}

.footer{
    height: 150px;
    background-color: #2F3D7E;
    color: white;
    margin-top: 1px;
}

.footer-item{
    width: 33%;
    float: left;;
}

.link{
    color: beige;
    text-decoration: none;
    display: block;
    margin-top: 2px;
}


/* CSS for device responsive */


@media screen and (max-width: 320px){
    .hero{
        height: 50px;
    }
}

@media screen and (max-width: 1100px){
    .hero{
        color: greenyellow;

    }
}

@media screen and (max-width: 700px) {
    .hero{
        height: 200px;
    }
}

@media screen and (max-width: 800px){
    .hero{
        height: 250px;
    }
}

@media screen and (max-width: 500px){
    .hero{
        height: 150px;
    }
}

@media screen and (max-width: 1363px){
    .project-item{
    width: 32%;
    }
}

@media screen and (max-width: 749px){
    .project-item{
    width: 31.5%;
    }
}

@media screen and (max-width: 544px){
    .project-item{
    width: 30.5%;
    }
}

@media screen and (max-width: 352px){
    .project-item{
    width: 30%;
    }
}

@media screen and (max-width: 700px){
    .project-item{
    width: 48%;
    }
}

@media screen and (max-width: 500px){
    .project-item{
    width: 47.5%;
    }
}

@media screen and (max-width: 400px){
    .project-item{
    width: 98%;
    }
}

/* fotter item */

@media screen  and (max-width:){
    .paddle{
        ing-left: ;d
    }
}