*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Hero{
    /* background-color: aqua; */
    height: 400px;
    color: greenyellow;
    background-image: url('Image/Portfolio\ Banner\ .jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(1);
}

.Project{
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
}

.project-item{
    float: left;
    height: 200px;
    border: 1px solid black;
    width: 32.6%;
    margin-right: 8px;
    margin-bottom: 10px;
    margin-left: 2px;
    background-color: #2D0C4D;
    color: white;
}

.footer{
    height: 150px;
    background-color: #2F3D7E;
    color: white;
    margin-top: 1px;
}

.footer-item{
    width: 33%;
    float: left;
}

.link{
    color: beige;
    text-decoration: none;
    display: block;
    margin-top: 2px;
}
